.AppDivCollapse {
  margin: 10px 0;
  background-color: #141824;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(#000, 0.1);
  padding: 20px;

  max-height: 46.8px;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  cursor: pointer;

  &.collapsed {
    max-height: 400px;
    transition: max-height 0.4s ease-in;
  }

  .Title {
    font-size: 1.25em;
    font-weight: 700;
    background-color: #141824;
    color: rgb(159, 166, 188);
    margin: -20px;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .AppForm {
    > *:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
